:root{  --background: #ECECEC;
        --background-nav:#FFFFFF;
        --background-header-footer: #2F303A;
        --background-section:#F5F4FA;
        --text1-color:#212121;
        --text2-color:#757575;
        --accent-txt-cl:#2196F3;
        --white-txt-cl:#FFFFFF;  
        --font1:"Roboto",
                sans-serif;
        --font2: "Raleway",
                sans-serif;}

body{
        font-family: var(--font1);
        font-size: 14px; 
        line-height: 1.14;
        background-color: var(--background);
}

.list{list-style: none;}
.link{text-decoration: none;}
.header{background-color:var(--background-nav);}
.header-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color:var(--text1-color);}

.header-link:hover,
.header-link:focus {color: var(--accent-txt-cl);}
.header-contact{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text2-color);}
.btn{
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.btn-mode-light {color: var(--text1-color);
        background: var(--background-section);}
.btn-mode-dark {color: var(--white-txt-cl);
        background: var(--accent-txt-cl);}

/* .web {color: var(--accent-color);}
.studio {color: black;}

.header-logo{
                position: absolute;
                width: 145px;
                height: 31px;
                left: 215px;
                top: 24px;
                font-family: var(--font2);
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;
                
                
} */
