:root{  --background: #ECECEC;
        --background-nav:#FFFFFF;
        --background-footer: #2F303A;
        --background-section:#F5F4FA;
        --text1-color:#212121;
        --text2-color:#757575;
        --accent-txt-cl:#2196F3;
        --white-txt-cl:#FFFFFF;  
        --font1:"Roboto",
                sans-serif;
        --font2: "Raleway",
                sans-serif;}

body{
        font-family: var(--font1);
        font-size: 14px; 
        line-height: 1.14;
        background-color: var(--background);
}

.list{list-style: none;}
.link{text-decoration: none;}

.header-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color:var(--text1-color);}

.header-link:hover,
.header-link:focus {color: var(--accent-txt-cl);}
.header-contact{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text2-color);}
.header-mail{
        color: var(--text2-color);
}

.header-mail:hover{
color: var(--accent-txt-cl);
cursor:pointer;
        }

.hero{
        width: 1600px;
        height: 600px;
        left: 0px;
        top: 80px;
        background-color: var(--background-footer);}
.hero-text{
        font-family: var(--font1);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-txt-cl);
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
        position: absolute;
}

.btn{
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0ex;
        cursor: pointer;
        background-color: transparent;
}

.btn-mode-dark {
        color: var(--white-txt-cl);
        background: var(--accent-txt-cl);
        position: absolute;
        width: 216px;
        height: 50px;
        left: 692px;
        top: 430px;
}

.btn-mode-light {color: var(--text1-color);
        background: var(--background-section);}
.btn-mode-light:hover, .btn-mode-light:focus{
        color: var(--white-txt-cl);
        background: var(--accent-txt-cl);
}

.web {color: var(--accent-txt-cl);}
.studio {color: black;}

.header-logo{
                font-family: var(--font2);
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;               
}

.studio-white{
    color: var(--white-txt-cl);    
}
.footer-logo {
        font-family: var(--font2);
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;
        }

.footer-adress{
        font-family: var(--font1);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--white-txt-cl);
}
.footer-contact {
                font-family: var(--font1);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;        
                color: rgba(255, 255, 255, 0.6);
}

.footer-mail {
                font-family: var(--font1);
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;        
                color: rgba(255, 255, 255, 0.6);
}

.header {
        background-color: var(--background-nav);
}

.footer {
        background-color: var(--background-footer);
}